@import "loaders/wave";
@import "loaders/spiral";
@import "loaders/dots";

.loaders {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.#{$loader-prefix} {
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0;
}