@import "loaders/functions";
@import "loaders/dots";
@import "loaders/rubix";
@import "loaders/spiral";
@import "loaders/thin-bar";
@import "loaders/wave";

.loaders {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.#{$loader-prefix} {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
}