@mixin loader-dots($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color) {
    @include loader($loader-width, $loader-height);
    $numDots: 20;
    $offSets: 1;
    $scale: 14;
    @for $i from 0 to $numDots {
        $offSets: append($offSets, random($numDots * 10) / 10);
    }
    overflow: visible;
    &:before {
        content: '';
        border-radius: 5em;
        background: transparent;
        font-size: #{1 / $numDots * $scale * 1em};
        height: 1em;
        width: 1em;
        position: absolute;
        left: 0;
        top: 0;
        $boxShadowString: "";
        @for $i from 0 to $numDots {
            $x: #{$i / $scale * $loader-width};
            $y: (sin(2 * pi() * ($i + nth($offSets, $i + 1)) / $numDots) * $numDots / 2 + $numDots / 2) * $loader-height / $scale - 0.5em;
            $color: nth($loader-colors, $i % length($loader-colors) + 1);
            $currentShadow: $x $y $color;
            $boxShadowString: $boxShadowString + $currentShadow;
            @if $i < $numDots - 1 {
                $boxShadowString: $boxShadowString + ",";
            }
        }
        box-shadow: #{$boxShadowString};
        -webkit-animation: #{$loader-prefix}-dots-vert-keyframe #{$loader-duration} infinite linear;
    }
    @-webkit-keyframes #{#{$loader-prefix}-dots-vert-keyframe} {
        @for $j from 0 to $numDots {
            #{$j / $numDots * 100%} {
                $boxShadowString: "";
                @for $i from 0 to $numDots {
                    $x: #{$i / $scale * $loader-width};
                    $y: (sin(2 * pi() * ($i + nth($offSets, $i + 1) + $j) / $numDots) * $numDots / 2 + $numDots / 2) * $loader-height / $scale - 0.5em;
                    $color: nth($loader-colors, $i % length($loader-colors) + 1);
                    $currentShadow: $x $y $color;
                    $boxShadowString: $boxShadowString + $currentShadow;
                    @if $i < $numDots - 1 {
                        $boxShadowString: $boxShadowString + ",";
                    }
                }
                box-shadow: #{$boxShadowString};
            }
        }
    }
}