$numDots: 20;

.#{$loader-prefix}-spiral {
    &:before {
        content: '';
        border-radius: 5em;
        background: transparent;
        font-size: #{1 / $numDots * 1em};
        height: 1em;
        width: 1em;
        position: absolute;
        left: 0;
        top: 0;
        $boxShadowString: "";
        @for $i from 0 to $numDots {
            $y: #{$i * $loader-height};
            $x: (sin(2 * pi() * $i / $numDots) * $numDots / 2 + $numDots / 2) * $loader-width - 0.5em;
            $color: nth($loader-colors, $i % length($loader-colors) + 1);
            $currentShadow: $x $y $color;
            $boxShadowString: $boxShadowString + $currentShadow;
            @if $i < $numDots - 1 {
                $boxShadowString: $boxShadowString + ",";
            }
        }
        box-shadow: #{$boxShadowString};
        -webkit-animation: #{$loader-prefix}-spiral-keyframe #{$loader-duration} infinite linear;
    }
}

@-webkit-keyframes #{#{$loader-prefix}-spiral-keyframe} {
    @for $j from 0 to $numDots {
        #{$j / $numDots * 100%} {
            $boxShadowString: "";
            @for $i from 0 to $numDots {
                $y: #{$i * $loader-height};
                $x: (sin(2 * pi() * ($i + $j) / $numDots) * $numDots / 2 + $numDots / 2) * $loader-width - 0.5em;
                $color: nth($loader-colors, $i % length($loader-colors) + 1);
                $currentShadow: $x $y $color;
                $boxShadowString: $boxShadowString + $currentShadow;
                @if $i < $numDots - 1 {
                    $boxShadowString: $boxShadowString + ",";
                }
            }
            box-shadow: #{$boxShadowString};
        }
    }
}