@import "./colors";

$loader-prefix: loader;
$loader-duration: 3s;
$loader-width: 20em;
$loader-height: 10em;
$loader-accent-color: black;
$loader-colors: #369EAD, #C24642, #7F6084, #86B402, #A2D1CF, #C8B631, #6DBCEB, #52514E, #4F81BC, #A064A1, #F79647;

// $loader-colors: $blue, $blue-100, $blue-200, $blue-300, $blue-400, $blue-500, $blue-600, $blue-700;

@import "./loaders/importer";

.#{$loader-prefix}-content {
    @include loader-content($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-dots {
    @include loader-dots($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-hourglass {
    @include loader-hourglass($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-revolve {
    @include loader-revolve($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-rubix-open {
    @include loader-rubix-open($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-rubix {
    @include loader-rubix($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-spiral {
    @include loader-spiral($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-thin-bar {
    @include loader-thin-bar($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-tree {
    @include loader-tree($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}

.#{$loader-prefix}-wave {
    @include loader-wave($loader-prefix, $loader-duration, $loader-width, $loader-height, $loader-colors, $loader-accent-color);
}