@import "compass/reset";
@import "./shared/colors";
@import "./shared/resets";
@import "./shared/icons";
@import "./shared/fonts";
@import "./social";
@import "./about";

body {
    background: #252520;
    font-size: 16px;
    font-family: OpenSansLight;
    color: $white;
}

#content {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5em;
}

.wrap {
    display: inline-block;
    font-size: 1em;
    padding: .5em;
    border-radius: .5em;
    margin: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5em;
    height: 10em;
    width: 20em;
    margin-left: -10em;
}

.loaders {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.dots {
    position: absolute;
    padding: 1em;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    .dot {
        position: relative;
        height: 1.2em;
        width: 1.2em;
        margin: .5em;
        display: inline-block;
        border: 1px solid $white;
        cursor: pointer;
        border-radius: 100em;
        transition: background-color 150ms ease-in-out;
        &:hover {
            background-color: $grey;
        }
        &.active {
            background-color: $white;
        }
    }
}